
nav {
  padding: 10px;
  display: flex;
}

.navLink {
  background-color: white;
  padding: 7px;
  border-radius: 3px;
  color: black;
  font-weight: 700;
}

select {
margin: 10px;
}

#jobSearch {
  margin: 10px;
}