@import "text.scss";
@import "card.scss";

.mainWrapper {
  display: flex;
    width: 100%;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 200vh;
    margin:0;
}

header {
  width: 95%;
  height: 250px;
  background-color: cadetblue;
  margin: 20px auto;
}

body {
  font-family: $mainFont;
  width: 100%;
  max-width: 100%;
  margin: 0;
}

.mainTitle {
  width:100%;
  display: flex;
  display: block;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
  // padding-top: 20px;
  // margin-top: 20px;
}

.navigationMenu { //Varför i helvete ligger den i mitten?! Den ligger längst ner om main-wrapper har height: 100vh; men inte annars, HUR ÄR DET ENS MÖJLIGT?!
  display: flex;
    align-items: center;
    // flex-flow: row wrap;
    justify-content: flex-end;
    align-items: baseline;
}

.navLink {
  background-color: white;
  padding: 7px;
  border-radius: 3px;
  color:black;
  font-weight: 700;
}

.tagline {
 margin-top: 20px;
 padding-top: 20px;
 margin-bottom: -20px;
}