@import "text.scss";
@import "card.scss";
@import "navigation.scss";
@import "header.scss";
@import "links.scss";


.mainWrapper {
  display: flex;
  width: 100%;
  max-width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  // height: 200vh;
  margin: 0;
}


body {
  font-family: $mainFont;
  width: 100%;
  max-width: 100%;
  margin: 0;
}


#fieldList {
 width: 60%;
 display: flex;
 justify-content: space-between;
 align-items: center;
 flex-wrap: wrap;  
}

.buttonField {
  background-color: rgb(78, 194, 233);
}

#valAntal {
  padding: 20px;
}

.gotoButton {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  font-size: 14px;
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;;
}

.gotoButton:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
}

#readMore {
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  font-size: 14px;
  border-radius: 5px;
  color: black;
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2);
  padding: 6px 10px;;
  border-radius: 50%;
}
#readMore:hover {
  box-shadow: 1px 1px 2px 2px rgba(0, 0, 0, 0.2) inset;
}